In [88]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd
import time

In [89]:
df = pd.read_excel('students.xlsx')
df

,ASS. NO:,NAME,GENDER,ENG,KISW,MATH,INT SCI,AGRI,SST,CRE,CAS,PTE,TT POINTS,ARTS/SPORTS,SOC.SCI.,STEM
0,A000017078,ESTHER BAHATI NDANU,F,7.0,6.0,6.0,7.0,6.0,7.0,6.0,6.0,6.0,NaN,44.6881,44.7607,43.7020
1,A000021549,MISHELLE MWENDE,F,7.0,6.0,5.0,7.0,7.0,6.0,7.0,6.0,6.0,NaN,44.8722,44.7489,43.7922
2,A000021867,RACHAEL NTHENYA MUTINDA,F,5.0,5.0,5.0,5.0,6.0,5.0,5.0,5.0,6.0,NaN,28.1132,29.3225,29.9476
3,A000029579,BONIFACE WAFULA,M,5.0,5.0,4.0,5.0,6.0,5.0,5.0,6.0,5.0,NaN,28.4529,27.8965,27.7000
4,A000029775,ASHLEY OMONDI ONYANGO,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,B001984309,CALVIN MUSITA,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
496,B001984313,CHRISTOPHER NZAYA,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
497,B001984314,CHARITY NTHENA,F,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
498,B001984316,DENIS MUTHARIMI JEDIEL,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
499,B001986761,DANIEL NICHOLAS KIOKO,M,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [90]:
driver = webdriver.Firefox()
wait = WebDriverWait(driver, 20)

URL = "https://kjsea.knec.ac.ke/"

In [91]:
row = df.iloc[0]

driver.get(URL)

ass_input = wait.until(
    EC.presence_of_element_located(
        (By.XPATH, "//input[@placeholder='Assessment number (9 or 10 characters) *']"))
)

name_input = driver.find_element(
    By.XPATH, "//input[@placeholder='Atleast one name of the candidate *']"
)

ass_input.clear()
ass_input.send_keys(str(row['ASS. NO:']))

name_input.clear()
name_input.send_keys(str(row['NAME']))

checkbox = driver.find_element(
    By.XPATH, "//input[@type='checkbox']"
)
checkbox.click()


search = driver.find_element(
    By.XPATH, "//button[contains(., 'Search Results')]"
)
try:
    search_btn = wait.until(
        EC.element_to_be_clickable(search)
    )

    time.sleep(1) 
    

    search_btn.click()
    print("Attempted to click 'Search Results' button using standard click.")

    time.sleep(5) 
    
except Exception as e:
    print(f"Error during search execution: {e}")

Attempted to click 'Search Results' button using standard click.

In [92]:
# fetching all subjects 
def get_points(subject_name):
    return driver.find_element(
        By.XPATH, f"//tr[td[normalize-space()='{subject_name}']]/td[4]"
    ).text

In [93]:
test_points = {
    "ENG" : get_points("English"),
    "KISW": get_points("Kiswahili"),
    "MATH": get_points("Mathematics"),
    "INTSC": get_points("Integrated Science"),
    "AGRI": get_points("Agriculture"),
    "SST":get_points("Social Studies"),
    "CRE":get_points("Christian Religious Education"),
    "CAS":get_points("Creative Arts & Sports"),
    "PTE":get_points("Pre-technical Studies")
}

In [94]:
test_points

{'ENG': '7',
 'KISW': '6',
 'MATH': '6',
 'INTSC': '7',
 'AGRI': '6',
 'SST': '7',
 'CRE': '6',
 'CAS': '6',
 'PTE': '6'}